body{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
}
.form-control{
    text-align:center;
    width: 400px;
    margin:0 auto;


}
.btn-info{
    margin-top:30px;

}
.btn-info{
    margin-bottom:18px;
}
