<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table >
	<thead>
		<tr>
			<th>imagen</th>
			<th>id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Departamento</th>
			<th>Sexo</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="empleado:${nombre}" >
			<td>
				<img th:src="@{/images/{imagen} (imagen=${empleado.imagen})}" width="50" height="50" />
			</td>
			<td th:text="${empleado.id}" />
			<td th:text="${empleado.nombre}" />
			<td th:text="${empleado.apellido}" />
			<td th:text="${empleado.departamento}" />
			<td th:text="${empleado.sexo==0 ? 'Hombre':'Mujer'}" />	
		</tr>
	</tbody>
</table>
<a th:href="@{/}">Ir al inicio</a>
</body>
</html>