<!DOCTYPE html>
<html xmlns:th="html://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Biblioteca</title>
</head>
<body>
	<h1>Listado de Libros</h1>
	<table>
		<thead>
			<tr>
				<th>ISBM</th>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Borrado</th>
			</tr>
		</thead>

		<tr th:each="libro : ${libros}">
			<td th:text="${libro.isbn}"></td>
			<td th:text="${libro.titulo}"></td>
			<td th:text="${libro.autor}"></td>
			<td><a >Borrar</a></td>
		</tr>

	</table>
	<a >crear Libro</a>
	<h1>Listado de Autores</h1>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Nacionalidad</th>
			</tr>
		</thead>

		<tr th:each="autor : ${autores}">
			<td th:text="${autor.nombre}"></td>
			<td th:text="${autor.apellido}"></td>
			<td th:text="${autor.nacionalidad}"></td>
			<td><a >Borrar</a></td>
		</tr>

	</table>
</body>
</html>