<!DOCTYPE html>
<html xmlns:th="html://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<!-- private Integer id;
	private String imagen="no-image.png";
	private String nombre;
	private String descripcion;
	private Date fecha;
	private Double salario;
	private Integer destacado; -->
<form th:action="@{/guardar}" method="post">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="descripcion">descripción</label>
      <input type="text" class="form-control" id="descripcion" placeholder="descripción" name="descripcion">
    </div>
  </div>
 <!--  <div class="form-group">
    <label for="fecha">fecha</label>
    <input type="text" class="form-control" id="fecha" placeholder="dd-MM-yyyy" name="fecha">
  </div>-->
  <div class="form-group">
    <label for="fecha">fecha</label>
    <input type="date" class="form-control" id="fecha" placeholder="dd-MM-yyyy" name="fecha">
  </div>
  <div class="form-group">
    <label for="salario">Salario</label>
    <input type="number" min="0" class="form-control" id="salario" name="salario">
  </div>
  <div class="form-row">
   
    <div class="form-group col-md-4">
      <label for="destacado">Destacado</label>
      <select id="destacado" class="form-control" name="destacado">
        <option selected>Choose...</option>
        <option value="0">SI</option>
        <option value="1">NO</option>
      </select>
    </div>
   
  </div>
  <button type="submit" id="crear" class="btn btn-primary">crear</button>
</form>
</body>
</html>