<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>lista users</p>
<a class="btn btn-primary btn-sm" th:href="@{/pageCrearCliente}" 
th:text="'Nuevo cliente'" title="Crear nuevo registro"></a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">fecha nacimiento</th>
            <th scope="col">telefono</th>
                  <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user:${listausers}">
  <td th:text="${user.idCliente}"></td>
    <td th:text="${user.nombrePersona}"></td>
    <td th:text="${user.apellido}"></td>
    <td th:text="${user.fechanacimiento}"></td>
    <td th:text="${user.telefono}"></td>
        <td th:text="${user.email}"></td>
        
        <td ><a class="btn btn-success btn-sm" th:href="@{/edit/} + ${user.idCliente}" 
th:text="'Editar'" title="Editar"></a>
</td>
        <td><a class="btn btn-danger btn-sm" th:href="@{/delete/} + ${user.idCliente}" 
th:text="'Eliminar'" title="Eliminar" onclick="return confirm('Borrar o no borrar, esa es la ?')"></a>
</td>
  </tbody>
</table>
</body>

</body>
</html>