<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter-mapping>
        <filter-name>SelectorNombresFilter</filter-name>
        <url-pattern />
    </filter-mapping>
    <filter-mapping>
        <filter-name>MostrarNombresPares</filter-name>
        <url-pattern />
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.arelance.repasoweb.listener.Listener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PreRepaso</welcome-file>
    </welcome-file-list>
</web-app>
